@import "../../styles/variables";

.employee-statistics {
  padding: 20px;
  text-align: center;

  h2 {
    margin-bottom: 20px;
    color: var(--primary-color);
  }

  .stats-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .stat-card {
    background: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-align: center;
    min-width: 250px;
  }

  .quiz-summary {
    border-left: 5px solid #007bff;
    text-align: left;
    padding: 20px;
    min-width: 300px;

    h3 {
      text-align: center;
      color: var(--primary-color);
    }

    .quiz-info {
      margin-top: 10px;
      padding: 10px;
      border-radius: 5px;
      background: var(--hover-color);

      h4 {
        color: var(--secondary-color);
        margin-bottom: 5px;
      }
    }

    .recommended {
      border-top: 2px dashed var(--border-color);
      margin-top: 15px;
      padding-top: 10px;
    }

    .quiz-date {
      font-size: 0.9rem;
      color: black;
      display: block;
      margin-top: 5px;
    }

    .quiz-description {
      font-size: 0.9rem;
      color: black;
      display: block;
      margin-top: 5px;
      font-style: italic;
    }
  }

  .quiz-info p,
  .quiz-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    display: inline-block;
  }
}

@media (max-width: 1024px) {
  .stats-grid {
    flex-direction: column;
    align-items: center;
  }

  .stat-card {
    min-width: 100%;
    max-width: 500px;
  }

  .quiz-summary {
    min-width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .employee-statistics {
    padding: 15px;
  }

  h2 {
    font-size: 1.8rem;
  }

  .stats-grid {
    flex-direction: column;
    align-items: center;
  }

  .stat-card,
  .quiz-summary {
    min-width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 500px) {
  .employee-statistics {
    padding: 10px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .stat-card,
  .quiz-summary {
    padding: 15px;
    min-width: 100%;
    max-width: 350px;
  }

  .quiz-info p,
  .quiz-description {
    max-width: 80%;
  }
}
