@import "../../styles/variables";

.admin-statistics {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: var(--background-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .stat-card {
    background: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    height: 400px;

    &:hover {
      transform: translateY(-5px);
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }
  }

  .pie-chart {
    max-height: 100%;
    max-width: 100%;
    margin: 0rem auto;
  }
}
