$primary-font: 'Arial, sans-serif';

// Light Mode
$light-bg: #ffffff;
$light-text: #121212;
$light-primary: #007bff;
$light-secondary: #6610f2;
$light-border: #e0e0e0;
$light-hover: #f5f5f5;
$light-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

// Dark Mode
$dark-bg: #121212;
$dark-text: #ffffff;
$dark-primary: #3211aa;
$dark-secondary: #160c6b;
$dark-border: #444;
$dark-hover: #222;
$dark-shadow: 0px 4px 15px rgba(255, 255, 255, 0.1);

// Light Mode
:root {
  --background-color: #{$light-bg};
  --text-color: #{$light-text};
  --primary-color: #{$light-primary};
  --secondary-color: #{$light-secondary};
  --border-color: #{$light-border};
  --hover-color: #{$light-hover};
  --box-shadow: #{$light-shadow};
}

// Dark Mode
body.dark-mode {
  --background-color: #{$dark-bg};
  --text-color: #{$dark-text};
  --primary-color: #{$dark-primary};
  --secondary-color: #{$dark-secondary};
  --border-color: #{$dark-border};
  --hover-color: #{$dark-hover};
  --box-shadow: #{$dark-shadow};
}
