@import '../../styles/variables';

.go-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(10px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;

  .arrow-icon {
    font-size: 1.5rem;
  }

  &:hover {
    background-color: var(--secondary-color);
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Dark Mode */
body.dark-mode {
  .go-top {
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  }
}
